<shift></shift>
<alt></alt>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta-Flan</title>
</head>

<body>
    <h1 style="color:cornflowerblue;">Flan Casero</h1>
    <br>
    <img class="Flan"  src="C:\Users\Mamorcita\OneDrive\IVA cursos y capacitaciones\Programación WEB FRONT END- Backend Potrero Digital\TAREAS\Tarea 2-Ivanna Arz-PotreroDigital\IMG\flan-casero-.webp" 
    widt="500" heigt="250"   alt="Flan">
     <br>
    <p style="color: lightcoral;">Se te antojó un postre rico y rápido?<br>
        Un rico flan casero y en el microondas puede ser una buena opción 😋😊</p>
    <h2 style="color: blueviolet;">Lista de Ingredientes</h2>
    <ul>
        <li>1 Huevo</li>
        <li>2 cucharadas azúcar</li>
        <li>100 cc leche</li>
    </ul>
    <h2 style="color: blueviolet;">Lista de Pasos</h2>
    
        <li>Romper un huevo, incorporar las 2 cucharadas de azúcar y los 100 cc de leche, batir bien y listo, lo tiramos
            en una taza previamente bañada con caramelo y al microondas! 3 minutos.</li>
        <li>Esperar que se enfríe, heladera 15, 20 minutos.
            Buen provecho</li>
        <iframe src="https://www.youtube.com/embed/xlgnXFq3IT8" width="500" height="250" title="Flan casero FÁCIL y RÁPIDO flan de huevo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <ol>
    </ol>
    <a target="_blank" href="https://cookpad.com/ar/recetas/22579753-flan-casero-en-microondas-super-facil-y-rapido-con-pocos-ingredientes?ref=search&search_term=postres%20faciles%20y%20rapidos">
      Leer esta receta en <strong>Cookpad</strong>
    </a>
    <br>
    <a target="_blank" href="https://1drv.ms/u/s!Apb6nVrd8-cegaVLB_Q1SKzyDt59Cw?e=UkPEyQ">Estofado estofado de carne</a>
    <br>
    <a href=""> Volver al inicio</a>
</body>

</html>