<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta-Pastafrola</title>
</head>
<body>
    <h1 style="color: cornflowerblue;">Receta de Pastafrola </h1>
    <img class="Pastafrola" width="500" height="250"  src="C:\Users\Mamorcita\OneDrive\IVA cursos y capacitaciones\Programación WEB FRONT END- Backend Potrero Digital\TAREAS\Tarea 2-Ivanna Arz-PotreroDigital\IMG\pastafrola.jpg" 
    widt="500" heigt="250"   alt="Pastafrola">
    <p style="color: lightcoral;">Si estás buscando conquistar el de tu familia y amigos con una pastafrola inolvidable, 
        seguí estos simples pasos inspirados en la reconocida de Paulina Cocina.Además, 
        la vas a poder hacer con muy pocos elementos y a un precio totalmente razonable. 
        Tomá lápiz y papel o simplemente, guardá esta nota, para poder elaborarla.</p>
    <h2 style="color: blueviolet;">Ingredientes</h2>
    <p style="color: lightcoral;">Masa</p>
    <ul>
        <li>1 huevo</li>
        <li>1 yema</li>
        <li>400 gr de harina leudante</li>
        <li>200 gr de azúcar</li>
        <li>200 gr de manteca</li>
        <li>1 cda de esencia de vainilla</li>
        <li>1 cda de sal</li>
    <p style="color: lightcoral;">Relleno</p>
        <li>200 gr de dulce de menbrillo</li>
        <li>200 gr de dulce de batata</li>
        <li>agua (cantidad necesaria)</li>
    </ul>
    <h2 style="color: blueviolet;">Lista de Pasos</h2>
    <ol type="1">
        <li>
            Empezá reuniendo los ingredientes necesarios: harina leudante, azúcar, manteca, huevos, esencia de vainilla y sal. 
            Mezcla la manteca con el azúcar hasta obtener una crema. Incorpora los huevos, la esencia de vainilla y la sal. 
            Añade la harina de a poco y mezcla hasta formar una masa suave y homogénea.</li>

        <li>Envolvé la masa en papel film y dejala reposar en la nevera durante al menos 30 minutos para que tome consistencia 
            y sea más fácil de manipular..</li>

        <li>En una cacerola, colocá el dulce de membrillo y la batata con un poco de agua y calentalos a fuego medio hasta que 
            se ablanden y se mezclen bien. Reservá esta mezcla para el relleno de la pastafrola.</li>
            <li>Dividí la masa en dos partes: una más grande para la base y otra más pequeña para la cubierta. Estirá la masa 
                más grande con un palo de amasar hasta que tenga un grosor de aproximadamente medio centímetro y forra un molde
                previamente enmantecado.</li>
            <li>Poné el lleno sobre la masa extendida en el molde, procurando distribuirlo de manera uniforme. Con la masa 
                restante, formá tiras finas y colócalas sobre el relleno en forma de enrejado.</li>
            <li>Precalentá el horno a 180 °C y cocina la pastafrola durante unos 40 minutos o hasta que la masa esté dorada y el
                relleno burbujeante.</li>
            <li>Una vez lista, retirá la pastafrola del horno y dejá que se enfríe antes de desmoldar y cortar en porciones. 
                ¡Serví y disfrutá de esta delicia casera con tus seres queridos!</li>
                <p style="color: lightcoral;">Con estos sencillos pasos, estarás listo para sorprender a todos con una pastafrola irresistible, siguiendo la
                    receta infalible de Paulina Cocina. ¡Buen provecho!</p>
        <br>
        <iframe width="500" height="250" src="https://www.youtube.com/embed/NfX-AHIyiBM" title="PASTA FROLA EN 3 PASOS (fácil y con trucos)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br>
        <a href="https://www.diarioconvos.com/2024/04/06/hace-como-paulina-cocina-y-prepara-la-clasica-pasta-frola-en-solo-7-pasos/?gad_source=1&gclid=Cj0KCQjwjNS3BhChARIsAOxBM6qIVxQo0xtdjlvsw79aq7ikyc6I3P_d2pM2cM6uCP_-jyKlTBycs2waAh7aEALw_wcB" target="_blank">
            Leer esta receta en <strong>Paulina Cocina</strong>
        </a>
        <br>
        <a href="https://cookpad.com/ar/recetas/15032172-estofado-de-carne" target="_blank">Receta Estofado
        </a>
        <br>
        <a href="">
            Volver al inicio
        </a>
        <p></p>
</body>
</html>