<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta-Estofado</title>
</head>

<body>
    <h1 style="color: cornflowerblue;">Receta de Estofado de carne </h1>
    <img class="Estofado"  src="C:\Users\Mamorcita\OneDrive\IVA cursos y capacitaciones\Programación WEB FRONT END- Backend Potrero Digital\TAREAS\Tarea 2-Ivanna Arz-PotreroDigital\IMG\estofado-de-carne-foto-principal.webp" 
    widt="500" heigt="250"   alt="Estofado">
    <p style="color: lightcoral;">Hola soy Nori ! Para esta nueva iniciativa donde la idea es #masconmenos va esta
        receta ideal para las cenas de estos días fríos.</p>
    <h2 style="color: blueviolet;">Ingredientes</h2>
    <ul>
        <li>700 gr paleta, roast Beef o cualquier corte de carne económico</li>
        <li>1 cebolla grande</li>
        <li>1/2 morrón</li>
        <li>1 zanahoria</li>
        <li>1 botella tomate triturado</li>
        <li>2 cubitos caldo de carne</li>
        <li>1 cda condimento para tucos y guisos (opcional)</li>
        <li>1 cda pimentón dulce</li>
        <li>1 cda orégano</li>
        <li>300 cc agua hirviendo</li>
        <li>1-2 hojitas laurel (opcional)</li>
    </ul>
    <h2 style="color: blueviolet;">Lista de Pasos</h2>
    <ol type="I">
        <li>
            Sofreír unos minutos en un fondo de aceite la cebolla picada, el morrón picado y la zanahoria que corté en
            rodajas y luego al medio. Agregar la carne en cubos (o en trozos más grandes, es a gusto). Saltear y agregar
            condimentos más cubitos de caldo. Cocinar hasta que cambia la carne de color.</li>

        <li>Agregar el tomate triturado y el agua. Tapar y cocinar a fuego bajo por aproximadamente 40/50 minutos. Un
            buen
            estofado lleva tiempo prolongado de cocción. Si hiciera falta agregar un poco más de agua. Rectificar sal en
            caso de que sea necesario.</li>

        <li>Ya listo. Se ven bien concentrados los sabores y la carne bien tierna. Yo en este caso acompañé el estofado
            con
            una rica polenta cremosa con queso. Ideal para las noches frías !</li>
        <br>
        <iframe width="500" height="250" src="https://www.youtube.com/embed/sXseUXlNEcE" 
        title="COMO PREPARAR ESTOFADO DE CARNE FACILITO - COMIDA PERUANA | RECETA DE ACOMER.PE" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>Receta-Estofado</iframe>
        <br>
        <a href="https://cookpad.com/ar/recetas/15032172-estofado-de-carne" target="_blank">
            Leer esta receta en <strong>Cookpad</strong>
        </a>
        <br>
        <a target="_blank" href="https://1drv.ms/u/s!Apb6nVrd8-cegaVPQePL1R02k1WMiw?e=7gLYWT"> Flan Casero 
        </a>
        <br>
        <a href="">
            Volver al inicio
        </a>
        <p></p>
</body>
</html>