*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h1.h1.h1.color-maroon{
    color: cornflowerblue;
}

.h2.color-blueviolet {
    color: blueviolet;
}

.p.descripcion{
    color:lightcoral;
}